@use "../global" as *;
/*=======================================
  共　通
=======================================*/
.sp {
    display: none;
    @include mq(md) {
        display: block;
    }
}
.pc {
    @include mq(md) {
        display: none;
    }
}
