@use "../global" as *;
/*=======================================
  共　通
=======================================*/
// レスポンシブ
.sp {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.pc {
  @include mq(md) {
    display: none;
  }
}
// header
header .cta_head_bt{
	position: fixed;
	top:20px;
	right:25px;
	z-index: 500;
}
header .cta_head_bt img{
	width: 240px;
	height: auto;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
// 見出し背景
.head_bg {
  background-image: url(../img/title-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.head_bg::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: calc(132 / 750 * 100%);
}
.head_bg > p {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  color: $color-white;
  font-weight: $bold;
  text-align: center;
  width: 100%;
  font-family: "Yu Mincho", "游明朝", serif;
}
// 画像設定
.pic {
  width: 100%;
}
.pic img {
  width: 100%;
}
// 背景
.bg_gray {
  background-color: #e4e6ef;
}
.bg_gradation_purple {
  background: linear-gradient(101deg, #e1e6f9 0%, #f0e3fd 100%);
}
.bg_purple_image {
  background-image: url(../img/bg-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// CTA前矢印
.add-arrow {
  position: relative;
}
.add-arrow::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 14px;
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  box-sizing: border-box;
  background: $color-white;
  z-index: 1;
}
// カラー
.text-color-blue {
  color: #4e73ee;
}