@use "../global" as *;
/* =========================================
CTA
========================================= */
.cta {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  position: relative;
}
.cta_pic {
  position: relative;
}
.cta_btn {
  position: absolute;
  left: calc(693 / 1200 * 100vw);
  bottom: calc(98 / 409 * 100%);
  width: calc(282 / 1200 * 100%);
}
.cta_head_bt {
  max-width: 320px;
}
@include mq(md) {
  .cta_btn {
    left: calc(91 / 750 * 100vw);
    bottom: calc(60 / 575 * 100%);
    width: calc(322 / 750 * 100%);
  }
  .cta_head_bt {
    max-width: 130px;
  }
}