@use "../global" as *;
/* =========================================
CTA
========================================= */
.cta {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  position: relative;
}
.cta_pic {
  position: relative;
}
.cta_btn {
  position: absolute;
  left: calc(91 / 750 * 100vw);
  bottom: calc(60 / 575 * 100%);
  width: calc(322 / 750 * 100%);
}