@use "../global" as *;
/* =========================================
メインCSS
========================================= */
.pic {
    width: 100%;
}
.pic01 {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
}
// pic02
.pic02-head p {
    font-size: calc(14 / 750 * 100vw);
    line-height: calc(11 / 6.3);
}
.pic02-head p .large{
    font-size: calc(16 / 750 * 100vw);
}