@use "../global" as *;
/* =========================================
メインCSS
========================================= */
.pic {
    width: 100%;
}
.pic01 {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
}
