@charset "UTF-8";
:root {
  --DFC-BROWN: #A5926D;
  --DFC-OR01: #FFAC0A;
  --DFC-OR02: #F96A1A;
  --DFC-BLUE: #23377F;
}

html {
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*=======================================
  共　通
=======================================*/
.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

header .cta_head_bt {
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 500;
}

header .cta_head_bt img {
  width: 240px;
  height: auto;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.head_bg {
  background-image: url(../img/title-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.head_bg-2 {
  background-image: url(../img/title-bg-2.webp);
}

.head_bg::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 12.25%;
}

.head_bg > p {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 100%;
  font-family: "Yu Mincho", "游明朝", serif;
  font-size: 3.3333333333vw;
}

@media screen and (max-width: 767px) {
  .head_bg::before {
    padding-top: 17.6%;
  }
  .head_bg > p {
    font-size: 3.7333333333vw;
  }
}
.pic {
  max-width: 864px;
  margin-right: auto;
  margin-left: auto;
}

.pic.cta_pic {
  max-width: 100%;
}

.pic.pic-100 {
  max-width: 100%;
}

.pic img {
  width: 100%;
}

.pic-line {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .pic {
    max-width: 634px;
  }
  .pic-line {
    margin-top: 24px;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.bg_gray {
  background-color: #e4e6ef;
}

.bg_light_gray {
  background-color: #eef2fc;
}

.bg_gradation_purple {
  background: linear-gradient(101deg, #e1e6f9 0%, #f0e3fd 100%);
  background: linear-gradient(101deg, rgba(225, 230, 249, 0.33) 0%, rgba(240, 227, 253, 0.33) 100%);
}

.bg_purple_image {
  background-image: url(../img/bg-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-color-blue {
  color: #4e73ee;
}

/* =========================================
メインCSS
========================================= */
.pic01 {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  background-image: url(../img/bg-6-PC.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .pic01 {
    background: none;
  }
}
.pic02-head p {
  font-size: 2.8333333333vw;
  line-height: 1.5;
  white-space: nowrap;
}

.pic02-head p .large {
  font-size: 3.3333333333vw;
}

.pic02-body {
  padding: 32px 30px 90px;
}

@media screen and (max-width: 767px) {
  .pic02-head p {
    font-size: 3.7333333333vw;
    line-height: 1.746031746;
  }
  .pic02-head p .large {
    font-size: 4.2666666667vw;
  }
  .pic02-body {
    padding: 22px 26px;
  }
}
.pic03 {
  padding: 24px 25px 96px;
}

.pic03 .pic:nth-child(1) {
  margin-bottom: 71px;
}

@media screen and (max-width: 767px) {
  .pic03 .pic:nth-child(1) {
    margin-bottom: 40px;
  }
  .pic03 {
    padding: 40px 16px 58px;
  }
  .pic03-line {
    margin-top: -20px;
  }
}
.pic04 {
  padding-top: 60px;
  margin-top: -60px;
  position: relative;
  z-index: 1;
}

.pic04-head {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  background-color: #596482;
  padding: 40px 75px;
  border-radius: 40px;
  font-family: "Yu Mincho", "游明朝", serif;
}

@media screen and (max-width: 767px) {
  .pic04 {
    padding-top: 22px;
    margin-top: -22px;
  }
  .pic04-head {
    font-size: 4.2666666667vw;
    padding: 10px 20px;
    border-radius: 30px;
  }
}
.pic05 {
  padding-bottom: 5.3240740741%;
  margin-top: -14.4166666667%;
}

.pic05::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 22.4166666667%;
}

.pic05 .pic {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .pic05 {
    margin-top: -19.6%;
  }
  .pic05::before {
    display: none;
  }
  .pic05 .pic {
    margin-top: 0;
  }
}
.pic06 {
  padding-bottom: 70px;
}

.pic06-head p {
  font-size: 2.8333333333vw;
  line-height: 1.746031746;
  white-space: nowrap;
}

.pic06-head p .large {
  font-size: 3.3333333333vw;
}

.pic06-body > .pic {
  padding-bottom: 10.4166666667%;
  padding-top: 11.2268518519%;
}

.pic06 .pic {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .pic06 {
    padding-bottom: 40px;
  }
  .pic06-head p {
    font-size: 3.7333333333vw;
    line-height: 1.746031746;
    white-space: nowrap;
  }
  .pic06-head p .large {
    font-size: 4.2666666667vw;
  }
  .pic06-body {
    padding: 40px 20px;
  }
  .pic06-body > .pic {
    max-width: 626px;
    padding-bottom: 0;
    padding-top: 0;
  }
}
.pic07-body {
  padding: 40px 30px 30px;
}

@media screen and (max-width: 767px) {
  .pic07-body {
    padding: 40px 20px;
  }
}
.pic08 {
  padding: 96px 30px 152px;
  background-image: url(../img/bg-3-PC.webp);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.pic08 .pic {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .pic08 {
    background-image: url(../img/bg-3.webp);
    padding: 15px 20px 60px;
  }
}
.pic09 {
  margin-top: 90px;
  text-align: center;
}

.pic09-head {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-image: url(../img/title-bg-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 40px;
  padding: 22px 35px;
  line-height: 1;
  font-family: "Yu Mincho", "游明朝", serif;
}

.pic09-body {
  margin-top: 85px;
  padding-bottom: 97px;
}

.pic09 .pic {
  max-width: 600px;
}

@media screen and (max-width: 767px) {
  .pic09 {
    margin-top: 20px;
  }
  .pic09-head {
    font-size: 24px;
    padding: 8px 16px;
  }
  .pic09-body {
    margin-top: 0;
    padding: 30px 26px;
  }
}
.pic10 {
  position: relative;
}

.pic10-body {
  position: relative;
  background-image: url(../img/bg-1-PC.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 97px 30px 67px;
}

.pic10-body > .pic {
  max-width: 600px;
}

.pic10-cta {
  margin-top: 100px;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.pic10-line {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .pic10-ctas {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 2.6809651475%;
    width: 100%;
  }
  .pic10-cta {
    margin-top: 0;
    width: 100%;
    margin-left: 0;
  }
  .pic10-line {
    width: 100%;
  }
  .pic10-body {
    padding: 0;
    position: static;
    background: none;
  }
}
.pic11-body {
  padding: 100px 30px;
}

.pic11 .pic {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .pic11-body {
    padding: 40px 30px;
  }
}
.pic12-body {
  padding: 100px 30px;
  background-color: #eef2fc;
}

.pic12 .pic {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .pic12-body {
    padding: 0;
  }
}
.pic13-body {
  padding: 100px 30px;
  background-image: url(../img/bg-5-PC.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pic13 .pic {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .pic13-body {
    padding: 0;
    background: none;
  }
}
.pic14 {
  padding-bottom: 68px;
}

.pic14-body {
  padding: 64px 30px 0;
}

.pic14-body .pic {
  max-width: 865px;
}

.pic14-event {
  margin-top: 71px;
}

.pic14-event .pic {
  max-width: 572px;
}

.pic14-cta {
  margin-top: 74px;
}

.pic14-bannner {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .pic14 {
    padding-bottom: 40px;
  }
  .pic14-body {
    padding: 40px 20px;
  }
  .pic14-event {
    margin-top: 20px;
    padding: 0 20px;
  }
  .pic14-cta {
    margin-top: 40px;
  }
  .pic14-event .pic {
    max-width: 100%;
  }
}
.pic15-body {
  background-image: url(../img/bg-7-PC.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 30px;
}

.pic15-body .pic {
  max-width: 608px;
}

@media screen and (max-width: 767px) {
  .pic15-body {
    padding: 0;
    background: none;
  }
}
.pic16-body {
  padding: 70px 30px;
}

.pic16-body .pic {
  max-width: 608px;
}

@media screen and (max-width: 767px) {
  .pic16-body {
    padding: 0;
  }
}
.pic17 {
  padding-bottom: 40px;
}

.pic17-body {
  background-image: url(../img/bg-4-PC.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 70px 30px 64px;
}

.pic17-body p {
  line-height: 2;
  font-size: 16px;
  font-family: "Yu Mincho", "游明朝", serif;
}

.pic17-body p:nth-child(1) {
  margin-bottom: 60px;
}

.pic17-body p:nth-child(2) {
  line-height: 2;
  text-align: right;
}

.pic17-bannner {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .pic17-body {
    background-image: url(../img/bg-4.webp);
    padding: 40px 5.3333333333vw 32px;
  }
  .pic17-body p:nth-child(1) {
    font-size: 3.7333333333vw;
    margin-bottom: 42px;
  }
  .pic17-body p:nth-child(2) {
    font-size: 3.2vw;
  }
}
.pic21-body {
  padding: 70px 30px;
}

@media screen and (max-width: 767px) {
  .pic21-body {
    padding: 40px 20px;
  }
}
.pic22 {
  padding: 0 30px 97px;
}

.pic22-head > .pic {
  max-width: 562px;
}

.pic22-body.pic {
  max-width: 862px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 38px;
  margin-top: 18px;
}

.pic22-video {
  width: calc((100% - 38px) / 2);
}

.pic22-video iframe {
  width: 100%;
  aspect-ratio: 650/365;
}

@media screen and (max-width: 767px) {
  .pic22 {
    padding: 0 20px 40px;
  }
  .pic22-body.pic {
    gap: 49px;
  }
  .pic22-video {
    width: 100%;
  }
}
/* =========================================
CTA
========================================= */
.cta {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  position: relative;
}

.cta_pic {
  position: relative;
}

.cta_btn {
  position: absolute;
  left: 57.75vw;
  bottom: 23.9608801956%;
  width: 23.5%;
}

.cta_head_bt {
  max-width: 320px;
}

@media screen and (max-width: 767px) {
  .cta_btn {
    left: 12.1333333333vw;
    bottom: 10.4347826087%;
    width: 42.9333333333%;
  }
  .cta_head_bt {
    max-width: 130px;
  }
}
/* -------------------------
スマホ表示
------------------------- */