@charset "UTF-8";
:root {
  --DFC-BROWN: #A5926D;
  --DFC-OR01: #FFAC0A;
  --DFC-OR02: #F96A1A;
  --DFC-BLUE: #23377F;
}

html {
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*=======================================
  共　通
=======================================*/
.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

header .cta_head_bt {
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 500;
}

header .cta_head_bt img {
  width: 240px;
  height: auto;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.head_bg {
  background-image: url(../img/title-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.head_bg::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 17.6%;
}

.head_bg > p {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.pic {
  width: 100%;
}

.pic img {
  width: 100%;
}

.bg_gray {
  background-color: #e4e6ef;
}

.bg_gradation_purple {
  background: linear-gradient(101deg, #e1e6f9 0%, #f0e3fd 100%);
}

.bg_purple_image {
  background-image: url(../img/bg-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-arrow {
  position: relative;
}

.add-arrow::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 24px;
  height: 14px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%);
          clip-path: polygon(0 0, 100% 0%, 50% 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  z-index: 1;
}

/* =========================================
メインCSS
========================================= */
.pic {
  width: 100%;
}

.pic01 {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.pic02-head p {
  font-size: 3.7333333333vw;
  line-height: 1.746031746;
  white-space: nowrap;
}

.pic02-head p .large {
  font-size: 4.2666666667vw;
}

.pic02-body {
  padding: 22px 26px;
}

.pic03 {
  padding: 82px 16px 116px;
}

.pic04 {
  padding-top: 22px;
  margin-top: -22px;
  position: relative;
  z-index: 1;
}

.pic04-head {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  display: inline-block;
  font-size: 4.2666666667vw;
  color: #fff;
  background-color: #596482;
  padding: 10px 20px;
  border-radius: 30px;
}

.pic05 {
  position: relative;
  margin-top: -19.6%;
}

.pic06 {
  padding-bottom: 40px;
}

.pic06-head p {
  font-size: 3.7333333333vw;
  line-height: 1.746031746;
  white-space: nowrap;
}

.pic06-head p .large {
  font-size: 4.2666666667vw;
}

.pic06-body {
  padding: 86px 25px 40px;
}

.pic06-body > .pic {
  max-width: 626px;
  margin-right: auto;
  margin-left: auto;
}

.pic06.add-arrow::before {
  background-color: #f8f8fe;
}

.pic07-body {
  padding: 40px 30px 30px;
}

.pic08 {
  padding: 0 30px;
}

.pic09 {
  margin-top: 90px;
  text-align: center;
}

.pic09-head {
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  white-space: nowrap;
  color: #fff;
  background-image: url(../img/title-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 24px;
  line-height: 1;
}

.pic09-body {
  margin-top: 35px;
  padding: 30px 26px;
}

/* =========================================
CTA
========================================= */
.cta {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  position: relative;
}

.cta_pic {
  position: relative;
}

.cta_btn {
  position: absolute;
  left: 12.1333333333vw;
  bottom: 10.4347826087%;
  width: 42.9333333333%;
}

/* -------------------------
スマホ表示
------------------------- */