@charset "UTF-8";
:root {
  --DFC-BROWN: #A5926D;
  --DFC-OR01: #FFAC0A;
  --DFC-OR02: #F96A1A;
  --DFC-BLUE: #23377F;
}

html {
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*=======================================
  共　通
=======================================*/
.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.head_bg {
  background-image: url(../seminar202502_1/common/img/title-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.head_bg::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 17.6%;
}

.head_bg > p {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

/* =========================================
メインCSS
========================================= */
.pic {
  width: 100%;
}

.pic01 {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.pic02-head p {
  font-size: 1.8666666667vw;
  line-height: 1.746031746;
}

.pic02-head p .large {
  font-size: 2.1333333333vw;
}

/* =========================================
CTA
========================================= */
.cta {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.cta_pic {
  position: relative;
}

.cta_btn {
  position: absolute;
  left: 12.1333333333vw;
  bottom: 10.4347826087%;
  width: 42.9333333333%;
}

/* -------------------------
スマホ表示
------------------------- */